*{
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    border-color: red;
}

aside, fieldset, header, ul, main, .cards, #contact_me_form {
    display: flex;
}

aside, fieldset, main, #contact_me_form{
    flex-direction: column;
}

header, main , footer {
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

header, section, #about_me_header, #my_projects_header, #contacts_header {
    border-radius: 10px;
}

header, section {
    border: 1px solid red;
}
header, #about_me_header, #my_projects_header, #contacts_header {
    position: relative;
}

footer, #avatar figcaption, #about_me_header, #my_projects_header, #contacts_header{
    text-align: center;
}

header {
    background-color: grey;
    border: 10px;
}

ul li, #avatar {
    margin: 15px;
}

ul li {
    justify-content: space-around;
}
a {
    color: black;
}

ul li a:hover {
  color: whitesmoke;
  text-shadow:
      0 0 7px red,
      0 0 10px red,
      0 0 21px red,
      0 0 42px lightgrey,
      0 0 82px lightgrey,
      0 0 92px lightgrey,
      0 0 102px lightgrey,
      0 0 151px lightgrey;
}

.project_info:hover, input[type=submit]:hover{
    box-shadow:
    0 0 7px red,
    0 0 10px red,
    0 0 21px red,
    0 0 42px lightgrey,
    0 0 82px lightgrey,
    0 0 92px lightgrey,
    0 0 102px lightgrey,
    0 0 151px lightgrey;
}

#quote {
    font-size: 1rem;
    text-align: left;
    color: white;
    font-style: oblique;
    margin: 20px;
}


#avatar figcaption {
    margin-left: 15px;
    font-size: larger;
    text-shadow:
      0 0 7px whitesmoke,
      0 0 10px whitesmoke,
      0 0 21px whitesmoke,
      0 0 42px lightgrey,
      0 0 82px lightgrey,
      0 0 92px lightgrey,
      0 0 102px lightgrey,
      0 0 151px lightgrey;
}

#avatar img { 
   max-height: 150px;
}

aside {
    justify-content: center;
    width: 60%;
}

article p {
    margin-top: 30px;
    margin: 30px 10px 10px;
}

section {
    margin-top: 40px;
    background-image: linear-gradient(white, lightgrey);
    height: auto;
    width: 100%;
}
#about_me_header, #my_projects_header, #contacts_header{
    border: 1px solid black;
    background-color: white;
    margin-top:-20px;
    margin-left: 80%;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 1.2rem;
    width: 150px;
}

.cards {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;

}

.project_info {
    box-sizing: border-box;
    margin: 20px;
    height: 100px;
    border: 3px solid red;
    flex: 1 1 30%;
    text-align: left;
    padding: 10px;
    text-decoration: none;
}

#my_projects a:first-child {
    flex: 0 1 100%;
    height: 200px;
}

#project_1 {
    background-image: url('../images/Project_1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y:-800px;
}

#project_2 {
    background-image: url('../images/Project_2.png');
    background-repeat: no-repeat;
    background-size: 160%;
}

#project_3 {
    background-image: url('../images/Project_3.png');
    background-repeat: no-repeat;
    background-size: 130%;
    background-position-x: -20px;
    background-position-y: -30px;
}

#project_4 {
    background-image: url('../images/Project_4.png');
    background-repeat: no-repeat;
    background-size: 130%;
    background-position-x: -20px;
    background-position-y: -180px;
}

.project_label {
    background-color: red;
    margin: 10px;
    border-radius: 5px;
}

#contact_me_form {
    justify-content: baseline;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: left;
}

fieldset{
    justify-content: space-between;
}

textarea,legend, input[type=submit], footer{
   margin: 20px;
}
   #contact_me_form label {
    margin: 10px;
}

input[type=submit]{
    width: 40%;

}

footer {
    font-size: smaller;
}

@media screen and (max-width: 1415px) {
    
    header,main {
        margin-left: 10%;
        width: 80%;
    }

    ul {
        flex-direction: column;
        align-items:stretch;
    }
    #quote {
        display: none;
    }


    
}

@media screen and (max-width: 1024px) {
    header {
        margin-left: 10%;
        width: 80%;
    }

    #about_me_header, #my_projects_header, #contacts_header{
        margin-left: 10%;
    }
    .project_info {
        flex: 1 1 80%;
        margin: 5px;
    }

}

@media screen and (max-width: 320px) {
    header {
        margin-left: 5%;
        width: 100%;
    }

    #quote {
        display: none;
    }

}