header {
    margin: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center
}

ul {
    display: flex;
}

ul li {
    justify-content: space-around;
    margin: 20px;
}

figcaption {
    text-align: center;
}

#avatar { 
   max-height: 150px;
}