*{
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
}

header {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    border-radius: 10px;
    border: 10px;
}

ul {
    display: flex;
}

ul li {
    justify-content: space-around;
    margin: 20px;;
}
a {
    color: black;
}

ul li a:hover {
  color: whitesmoke;
  text-shadow:
      0 0 7px whitesmoke,
      0 0 10px whitesmoke,
      0 0 21px whitesmoke,
      0 0 42px lightgrey,
      0 0 82px lightgrey,
      0 0 92px lightgrey,
      0 0 102px lightgrey,
      0 0 151px lightgrey;
}

#quote {
    font-size: 0.8rem;
    text-align: right;
    color: white;
    font-style: oblique;
    margin: 20px;
}

#avatar {
    margin: 15px;
}

#avatar figcaption {
    margin-left: 15px;
    text-align: center;
    font-size: larger;
    text-shadow:
      0 0 7px whitesmoke,
      0 0 10px whitesmoke,
      0 0 21px whitesmoke,
      0 0 42px lightgrey,
      0 0 82px lightgrey,
      0 0 92px lightgrey,
      0 0 102px lightgrey,
      0 0 151px lightgrey;
}

#avatar img { 
   max-height: 150px;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

article p {
    margin-top: 30px;
    margin: 30px 10px 10px;
    align-items: center;
}

section {
    border: 3px solid black;
    border-radius: 10px;
}
#about_me_header {
    position: absolute;
    background-color: white;
    margin-top:-20px;
    margin-left: 87%;
    padding: 10px;
    font-size: 1.2rem;
}